body{
    margin: 0px;
    padding: 0px;
}

.buffer{margin-top: 20px; margin-bottom: 20px;}

#navbar{
    position: fixed;
    background: white;
    top: 0;
    width: 11%;
    height: 720px;
    padding-top: 30px;
    display: block;
    transition: 0.5s;
    z-index: 1;
}


#navbar .logo{
    display: block;
    float: left;
    width: 100px;
    margin-left: 18px;
    margin-top: 420px;
    transition: 0.2s ease;
}


a.tab{
    float: left;
    display: block;
    color: lightgray;
    font-family: museo-sans, sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-bottom:20px;
    margin-left: 30px;
    transition: 0.2s;
    
}

a.tab:hover{
    float: left;
    display: block;
    color: black;
    text-decoration: none;
    font-family: museo-sans, sans-serif;
}


.date{
    display: block;
    color: darkgrey;
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 29px;
}



#navbar .currentpage{
    font-weight: 900;
    color: darkgrey;
}

#button{
    text-align: center;
    outline: none;
    height: 60px;
    width: 130px;
    border: 2px solid lightgray;
    color: lightgray;
    background: white;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-size: 15px;
    transition: 0.4s ease;
}

#button:hover{
    color: white;
    text-decoration: none;
    background: lightgray;
    font-weight: 700;
}

.prevproject{
    float: left;
    display: block;
    color: darkgrey;
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    font-size: 11px;
    margin-top: -95px;
}

.nextproject{
    float: right;
    display: block;
    color: darkgrey;
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    font-size: 11px;
    margin-top: -95px;
}

.footer{
    text-align: center;
    display: block;
    color: darkgrey;
    margin-top: 250px;
    font-family: museo-sans, sans-serif;
    font-weight: 100;
    font-size: 11px;
}




::-webkit-scrollbar{
   display: none;
}


